body {
    background-color: #140044;
}

#title {
    font-size: 39px;
    text-align: center;
    color:  aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#albums {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 58%;
}

#albumimg {
    border-radius: 40px;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

#songs ul {
    list-style: none;
    margin-right: 30px;
}

#songs li{
    display: flex;
    justify-content: left;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #231e79;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#abutton {
    border: none;
    padding: 20px;
    background-color: rgb(181, 23, 23);
    border-radius: 20px;
    color: aliceblue;
    transition: 0.2s;
}

#abutton:hover {
    background-color: rgb(162, 0, 255);
    transition: 0.2s;
}


.playbutton {
    padding: 17px 22px 17px 22px;
    background-color: rgb(181, 23, 23);
    color: aliceblue;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    transition: 0.2s;
}

.playbutton:hover {
    background-color: rgb(162, 0, 255);
    transition: 0.2s;
}


#youssef {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
}

#youssef a {
    text-decoration: none;
    color: rgb(181, 23, 23);
}

#smallcover {
    width: 60px;
    border-radius: 10px;
    margin-right: 20px;
}

@media only screen and (max-width: 1400px) {

    #albums {
        margin-left: 10px;
        margin-bottom: 50px;
        width: 100%;
    }

    #abutton {
        padding: 10px;
    }

    #albumimg {
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #songs ul {
        list-style: none;
        margin-right: 0px;
    }

    #songs li{
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 10px;
        margin-left: -30px;
        margin-right: 10px;
    }



  }