
#albums {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 58%;
}

#albumimg {
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

#songs ul {
    list-style: none;
}

#songs li{
    padding: 20px;
    border: solid 1px;
}